/* FONTS */

@font-face {
	font-family: "Inner Regular";
	src: url("fonts/inter-regular.woff2") format("woff2"), url("fonts/inter-regular.woff") format("woff");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

/* GLOBAL STYLES */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
	font-weight: 400;
	font-family: "Inner Regular", "Arial", "Helvetica", sans-serif;
    background-color: #D9D9D9;
}

.container {
    width: 995px;
    margin: 0 auto;
    background-color: #FFFFFF;
}

.logos {
    display: flex;
    justify-content: space-between;
}

.main-logo {
    width: 117px;
}

.main-sponsors {
    width: 370px;
    display: flex;
}

.sponsors-wrap {
    width: 215px;
    display: flex;
    flex-wrap: wrap;
}

.main-nav {
    width: 974px;
    display: flex;
    justify-content: space-between;
}

.nav-list {
    width: 572px;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.list-item {
    display: flex;
    list-style: none;
}
.news {
  display: flex;  
}

.item-title,
.item-date,
.item-link {
    padding: 0;
    margin: 0;
}

.news {
	display: flex;  
}

.indicators {
    display: flex;
    justify-content: space-between;
}

.fixtures-item, 
.results-item, 
.table-item {
    display: flex;
}

.fixtures-date, 
.fixtures-match, 
.results-match, 
.results-score,
.table-score,
.table-match,
.table-score  {
    padding: 0;
    margin: 0;
}

.players,
.players-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.list-item {
	display: flex;
	flex-direction: column;
}

